* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}

.clear {
    clear: both;
}

body {
        background-image: url("../img/footer_lodyas.png");
}

.wrapper{
    //height: 100vh;
    //width: 100vw;

}
.container{
    max-width: 960px;
    margin: 0 auto;
}

/*---------------LOGO---------------------*/
.logo{
    //height: 15%;
}

.logo .container {
    //height: 100%;
    background-size: cover;    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.logo h1 {
    text-align: center;
    font-family: 'Barrio', cursive;
    text-shadow: 2px 2px 8px #ffffff;
    font-size: 80px;
    margin-top: 20px;
    margin-bottom: 20px;
    color: #2a2a2a;
}

.logo i {
    font-size: 80px;
    
}

/*-----------------TABY--------------------*/
.tabs{
    display: flex;
    justify-content: center;
    bottom: 0;
}
.tabs div{
    text-align: center;
}

.tabs a{
    font-size: 20px;
    text-shadow: 2px 2px black;
    font-weight: bold;
    display: inline-block;
    width: 150px;
    text-decoration: none;
    color: white;
    line-height: 36px;
}

.tabs div:nth-child(1){
    background-color: rgba(66, 133, 244, 0.8);
    border-radius: 20px 20px 0 0;    
}
.tabs div:nth-child(2){
    background-color: rgba(66, 133, 244, 0.33);
    border-radius: 20px 20px 0 0;    
}
.tabs div:nth-child(3){
    background-color: rgba(66, 133, 244, 0.33);
    border-radius: 20px 20px 0 0;    
}
.tabs div:nth-child(4){
    background-color: rgba(66, 133, 244, 0.33);
    border-radius: 20px 20px 0 0;    
}

/*--------------------NAV SECOND-----------------------------*/
.nav_second{
    //height: 4%;

}

.nav_second .container {
    //height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(66, 133, 244, 0.8);
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    //border-bottom: 5px solid #414141;
}

.nav_second ul {
    display: flex;
    justify-content: center;
    list-style-type: none;
}
.nav_second li {
    text-align: center;
}

.nav_second a {
    font-size: 16px;
    line-height: 30px;
    display: inline-block;
    text-decoration: none;
    color: white;
    text-shadow: 1px 1px black;
    border-right: 1px dashed black;
    padding-left: 15px;
    padding-right: 15px;
}

.nav_second li:first-child {
    border-left: 1px dashed black;
}

.nav_second li:first-child a {
    
}
/*---------------------SECTION--------------------------------*/
section{
    
}
section .container {
    color: #dddddd;
    //height: 100%;
    background-color: rgba(255, 255, 255, 0);
    //overflow: auto;    
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    padding: 20px;
}

section .news {
    //border: 1px solid rgb(66, 133, 244);
    background-color: rgba(255, 255, 255, 0.08);
    margin-bottom: 20px;
}
section img {
    height: 350px;
    width: 350px;
    margin: 5px;
    object-fit: cover;
    float: left;
}
.news_content{
    float: left;
    width: 60%;

}
.news_content h3 {
    font-size: 22px;
    padding: 12px;
}
.news_title_link {
    text-decoration: none;
    color:  #dddddd;
}
.news_title_link :visited{
    text-decoration: none;
    color:  #dddddd;
}
.news_title_link :hover{
    text-shadow: 0px 0px 1px white;
}
.news_description {
    font-size: 16px;
    padding: 12px;
}
.news_author_icon{
    display: inline-block;
    color: #fbc25a;
    font-size: 20px;
    margin-left: 12px;
}
.news_author {
    font-size: 12px;
    color: #fbc25a;
    padding: 12px 12px 12px 0;
    display: inline-block;
}
.news_url {
    font-size: 12px;
    color: #44b85f;  
    margin-left: 30%;
    display: inline-block;    
}
.news_date {
    font-size: 12px;
    padding: 12px;
}
.comments {
    width: 97%;
    height: 35px;
    margin-left: 1%;
    margin-top: 5%;
    background-color: rgb(66, 133, 244);
    text-align: center;
    line-height: 32px;
    font-size: 30px;    
}
.powr-comments {
    display: none;
}

/*------------------------FOOTER---------------------------------*/
footer{
    //height: 4%;
}

footer .container {
    height: 100%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background-color: rgba(66, 133, 244, 0.8);
    border-left: 1px solid grey;
    border-right: 1px solid grey;
    //border-top: 5px solid #414141;     
}
footer span{
    font-family: 'Barrio', cursive;
    font-size: 28px;
    margin-right: 90px;
}
footer p{
    font-size: 14px;
    margin-right: 90px;
}

/*-----------------------Media----------------------------*/

/*@media (max-width: 600px) {
    .container{
        width: 100%;
    }
    .logo{
        height: 27%;
    }
    .tabs{
        display: block;
    }
    section{
        height: 65%;
    }
}*/

@media (max-width: 600px) {
    .wrapper{
        width: 100%;
        height: 100%;
    }
    .container{
        width: 100%;
        margin: 0;
    }
    .logo{
        height: 100%;
        
    }
    .tabs{
        display: block;
        width: 100%;
    }
    .tabs div{
        width: 100%;
    }
    .nav_second .container{
        display: inline-block;
    }
    section{
        height: 100%;
    }
}





